@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Poppins, sans-serif;
}


.fa-brands, #copyButton {
    color: purple;
}

#paragraph {
    height: 20rem;
}


@media only screen and (max-width: 1040px) {
     #paragraph {
        height: 14rem;  
    }
}

@media only screen and (min-width: 1040px) {
    #paragraph {
        height: 14rem; 
    }
}
